.card-wrapper {
  width: 18rem;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 30px;
}

.card-title {
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
}

.card-subtitle {
  font-size: 0.9rem;
}

.card-text {
  color: #555;
}

.card-link {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}
